<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">ShiftSync</a>
  </div>

  {% if user.is_authenticated %}

  <div class="navbar-center">
    <ul>
      <li><a href="">Shifts</a></li>
      <li><a href="">Locations</a></li>
      <li><a href="" hx-get="" hx-trigger="click" hx-target="#notifications-dropdown">Notifications</a></li>
    </ul>
  </div>
  {% endif %}

  <div class="navbar-right">
    {% if user.is_authenticated %}
      <span>Welcome, {{ user.get_full_name }}</span>
      {% if user_role == "MANAGER" %}
        <a href="">Manager Dashboard</a>
      {% elif user_role == "STAFF" %}
        <a href="">My Shifts</a>
      {% elif user_role == "ADMIN" %}
        <a href="">Admin Panel</a>
      {% endif %}
      <a href="/accounts/logout">Logout</a>
    {% else %}
      <a href="/accounts/login">Login</a>
      <a href="/accounts/register">Register</a>
    {% endif %}
  </div>
</nav>

<div id="notifications-dropdown"></div>
